:root {
  --primaryWhite: #f4f4f4;
  --secondaryGreen: #4c8e60;
  --mainFontFamily: "Dosis", sans-serif;
  --secondaryFontFamily: "Roboto", sans-serif;
  --darkGreen: #333d29;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  /* width: 100%; */
  max-width: 80vw;
  height: 100svh;
  display: flex;
  justify-content: center;
  background-color: var(--primaryWhite);
  font-family: var(--mainFontFamily);
}

#app {
  /* width: 100%; */
  height: 100svh;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media only screen and (max-device-width: 500px) {
  body {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
  }
  #app {
    overflow-x: hidden;
  }
}
/*UTILS*/
.secondary-font {
  font-family: var(--secondaryFontFamily);
}
.text-emphasis {
  color: #000;
}

/*Button*/
.buttonBlock button {
  background-color: #333d29;
  color: var(--primaryWhite);
  padding: 0.8em;
  border: 2px solid transparent;
  border-radius: 30px;
  font-weight: 600;
  box-shadow: -3px 3px 8px -1px rgba(0, 0, 0, 0.5);
  transition: all 150ms;
}
.buttonBlock button:hover {
  transform: translate(2px, -2px);
}
.buttonBlock button:active {
  transform: translate(0, 0);
}

/*Banner*/
.banner {
  height: 25svh;
  width: 100%;
  display: block;
  text-align: center;
}

/*Navbar*/
nav {
  position: sticky;
  top: 0;
  z-index: 1;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: var(--primaryWhite);

  box-shadow: 0 5px 10px -1px rgba(0, 0, 0, 0.5);
}
nav img {
  width: 90px;
  height: auto;
}
nav ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-basis: 100%;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--secondaryGreen);
  transition: all 2s ease;
}
nav ul li a:hover {
  text-decoration: 3px underline;
  text-underline-offset: 10px;
  transform: scale(1.4);
}

nav i {
  font-size: 2rem;
  color: var(--darkGreen);
}



/*HeaderBlock*/

.headerBlock {
  position: relative;
  transform: translateY(4px);
}

.headerBlock img {
  width: 100%;
  height: 100%;
  filter: brightness(0.7);
}
.headerTextBlock {
  color: var(--primaryWhite);
  /* background-color: var(--secondaryGreen); */
  padding: 0 2rem;
  border-radius: 15px;
  position: absolute;
  bottom: 15%;
  left: 8%;
  line-height: 0.9;
  text-align: center;
  letter-spacing: 5px;
  animation: slide-in 3ms ease-in-out linear;
  transition: all 3s ease;

  filter: opacity(0.8);
}
.headerBlock .headerTextBlock h1 {
  font-size: 6rem;
  font-weight: 400;
  margin: 0;
  text-shadow: -2px 2px 1px var(--secondaryGreen);
}
.headerTextBlock h1 span {
  font-size: 2rem;
  font-weight: 500;
  text-shadow: -2px 2px 3px var(--secondaryGreen);
}
.headerTextBlock p {
  font-size: 1.1rem;
  font-weight: 700;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  text-decoration: underline;
  text-decoration-color: #333d29;
}

@keyframes slide-in {
  0% {
    filter: opacity(0);
  }
  50% {
    filter: opacity(0.3);
  }
  100% {
    filter: opacity(1);
  }
}

@media only screen and (max-device-width: 500px) {
  nav img {
    width: 75px;
  }

  .headerTextBlock {
    left: 5%;
  }
  .headerBlock .headerTextBlock h1 {
    font-size: 3rem;
  }
  .headerBlock .headerTextBlock h1 span {
    font-size: 0.8rem;
  }
  .headerBlock .headerTextBlock p {
    font-size: 0.8rem;
  }
}

/*Service tabs*/
.service-nav {
  background-color: #333d29;
  font-size: 1.2rem;
  height: 25svh;
}
.service-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: var(--mainFontFamily);
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
}

@media only screen and (max-device-width: 500px) {
  .service-nav ul li {
    font-size: 0.8rem;
    font-weight: 600;
  }
}

/*Service sections*/

.service-content-block {
  background-color: #333d29;
  position: relative;
  height: auto;
  padding-bottom: 5%;
}

.serviceCard {
  width: 33%;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px;
  margin: 10px;
}
.serviceCard.active {
  color: #4c8e60;
  text-decoration: underline;
  transform: scale(1.3);
}
.serviceCard:hover {
  color: #376d47;
}

.service-content {
  border: 1px solid transparent;
  position: relative;
  background-attachment: scroll;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  height: max-content;
  font-weight: 800;
  font-family: var(--secondaryFontFamily);
}

.service-content i {
  color: #000;
  font-size: 4rem;
  margin-bottom: 5%;
}
.service-content p {
  width: 60%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.4);
  color: #000;
  margin: 2% auto 2% auto;
  padding: 25px;
  border-radius: 5px;

  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;

  transition: all 600ms ease;
}
.service-content p:hover {
  box-shadow: -8px 8px 15px -1px rgba(0, 0, 0, 0.5);
  transform: translateY(-3px);
  background-color: rgba(255, 255, 255, 0.7);
}

.service-content button {
  background-color: var(--secondaryGreen);
  color: var(--primaryWhite);
  width: 50%;
  height: auto;
  margin-top: 2%;

  border: 2px solid transparent;
  border-radius: 15px;
  font-size: 1.5rem;
  font-weight: 900;
}

[data-tab-target] {
  list-style: none;
  color: var(--primaryWhite);
  cursor: pointer;
}

[data-tab-content] {
  display: none;
}
.active[data-tab-content] {
  display: block;
}

@media only screen and (max-device-width: 500px) {
  
  .service-content p i {
    font-size: 1.5rem;
    color: var(--primaryWhite);
  }
  .service-content p {
    font-size: 0.8rem;
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--primaryWhite);
  }
  .service-content p:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }

  #serviceContentButton {
    font-size: 0.8rem;
    padding: 10px 0;
    background-color: var(--darkGreen);
    color: var(--secondaryGreen);
  }
}

/*People Section*/

.peopleContentBlock {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "text photo", "photo text";
  gap: 25px;
}

.personBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.personBlock:nth-child(2n) {
  flex-direction: row-reverse;
}
.personBlock img {
  aspect-ratio: 1/1;
  border: 2px solid goldenrod;
  border-radius: 15px;
  box-shadow: -6px 6px 10px -1px rgba(0, 0, 0, 0.5);
}

.personBlurb {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--primaryWhite);
  padding: 5px;
  text-align: center;
}
.personBlurb h5 {
  font-size: 1.2rem;
}

.people-block {
  border: 4px solid var(--secondaryGreen);
  padding: 2%;
  display: flex;
  flex-direction: column;
  background-image: url(images/treeLine.jpg);
  background-size: cover;
}
.people-block h3 {
  text-align: center;
  font-size: 6rem;
  color: var(--primaryWhite);
  transform: translateX(15px);
  font-family: "Nothing You Could Do", cursive;
  text-decoration: 4px underline;
  text-underline-offset: 4px;
}

@media only screen and (max-device-width: 500px) {
  .people-block h3 {
    font-size: 2.6rem;
    font-weight: 700;
    padding: 5% 0;
    text-align: center;
    margin: 0;
  }

  .personBlock img {
    height: 90%;
  }
  .personBlurb {
    height: fit-content;
  } 
  .personBlurb h5 {
    font-size: 1rem;
  }
  .personBlurb p {
    font-weight: 400;
  }
}

/*About*/

.about {
  margin: 0 auto;
  background-image: linear-gradient(var(--primaryWhite), #727272);
}
.about h2 {
  text-align: center;
  background-color: #727272;
  margin: 0;
  padding: 1rem;
}
.about h2 a {
  color: var(--primaryWhite);
  font-family: var(--secondaryFontFamily);
  font-family: "Nothing You Could Do", cursive;
  font-weight: 800;
  padding: 0.2rem;
  text-underline-offset: 4px;
}
.about h2 i {
  transform: translate(4px, 15px);
}

.aboutContent {
  display: flex;
  max-width: 100vw;
}
.about ol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 400;
}

.about img {
  width: 33%;
  height: auto;
}

@media only screen and (max-device-width: 500px) {
  #about h2 {
    font-size: 1.4rem;
  }
  .aboutContent {
    display: flex;
    flex-direction: column-reverse;
  }
  .aboutContent img {
    height: 150px;
    width: 100%;
  }
}

/*Footer*/
#footer {
  background-color: var(--secondaryGreen);
  color: var(--primaryWhite);
  padding: 3rem;
}
