:root {
  --mainFontFamily: "Dosis", sans-serif;
  --secondaryFontFamily: "Roboto", sans-serif;
  --darkGreen: #333d29;
}

body {
  font-family: var(--mainFontFamily);
  margin: 0;
  padding: 0;
}

/*UTILS*/
.text-center {
  text-align: center;
}

/*Header + Nav*/

header {
  padding: 25px 0;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  padding: 0 5%;
  list-style: none;
  font-size: 1em;
  font-weight: 500;
}
nav ul a {
  text-decoration: none;
  color: inherit;
}
nav ul a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  transform: scale(1.2);
}

/*HERO*/
#hero {
  padding: 5%;
  height: auto;
}

#heroContainer {
  width: 100%;
  /* background-color: #c2c2c2; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 10rem;
  font-weight: 900;
  /* padding-top: 10%; */
  color: #0a0e0e;
  margin: 0;
  line-height: 0.8;
  /* height: 80svh; */
  width: 75%;

  background-image: url("images/cavern.jpg");
  background-size: 110%;
  background-position: center bottom;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-clip: text;
  color: transparent;
}

.btn-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
}

#bt1 {
  border-radius: 0;
  width: 100%;
}
#bt2 {
  grid-area: bt2;
  width: 100%;
}
#bt3 {
  border-radius: 0;
  width: 100%;
}

.service-btn {
  padding: 15px;
  border: none;
  height: 80px;
}

/*PARALLEX*/
